.page-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .tapela-table {
    margin-top: 20px;
  }
  .tapela-table th,
  .tapela-table td {
    text-align: center;
  }
  
  .tapela-table th {
    background-color: #f0f0f0;
  }
