/* src/assets/css/TaxiDrivers.css */

.drivers-data-page {
    padding: 20px;
  }
  
  .drivers-table {
    margin-top: 20px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-icon {
    font-size: 20px;
    cursor: pointer;
  }

  
  #drivers-tabs .nav-item.show .nav-link, .nav-link.active {
    background-color: rgb(184, 204, 34) !important;
    color: #fff !important;
  }